body {
    background-color:
        rgb(231, 221, 243);
    border-color: rgb(250, 153, 166);
    font-family: arial;
    margin: 20px;
    padding: 60px 25px 100px 20px;
    box-shadow: 15px 15px 30px #afafaf,
        -15px -15px 30px #ffffff;
    border-radius: 38px;
    box-shadow: 6px -6px 8px #4e0e0e,
        -6px 6px 8px #ffffff;
    border-style: double;
    font-size: 55%;
}

h1 {
    font-size: 300%;
    text-align: center;
    color: rgb(216, 142, 4);
}

h3 {
    color: rgb(95, 33, 33);
    padding: 5px;
    background-color: lightslategrey;

    border-color: lightsalmon;
    border-style: double;
    border-radius: 16px;
    box-shadow: 6px -6px 8px #4e0e0e,
        -6px 6px 8px #ffffff;
    margin-left: 0.1em;
}

h4 {
    color: rgb(102, 3, 3);
}

#naa {
    font-size: 120%;
    text-align: center;
    color: rgb(70, 29, 63);
}

#nah {
    font-size: 120%;
    text-align: center;
    color: rgb(50, 49, 53);
}

ul {
    padding: 0.1em;
}

.pull-right {
    float: right;
    padding-right: 0.1em;
}

footer {
    float: right;
    font-size: 8px;
    color: #afafaf;
    margin-right: 2em;
}

li {
    padding-bottom: 8px;
}